# Postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_NAME=tehrani_cms
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# Strapi
APP_KEYS=tehrani-app-key-a,tehrani-app-key-b,tehrani-app-key-c,tehrani-app-key-d
API_TOKEN_SALT=tehrani-api-token-salt-2026
ADMIN_JWT_SECRET=tehrani-admin-jwt-secret-2026
ADMIN_ENCRYPTION_KEY=tehrani-admin-encryption-key-2026
TRANSFER_TOKEN_SALT=tehrani-transfer-token-salt-2026
JWT_SECRET=tehrani-users-permissions-jwt-secret-2026

# FarazSMS
FARAZSMS_API_KEY=your_farazsms_api_key

# Other
HOST=0.0.0.0
PORT=8000
NODE_ENV=development
